{% extends 'layouts/base.html' %}

{% load omfilters %}
{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body">
                <!-- Card stats -->
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Total de Pedidos</h5>
                                        <span class="h2 font-weight-bold mb-0">{{ count_orders }}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-success text-white rounded-circle shadow">
                                            <i class="fas fa-shopping-cart"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Faturamento Total</h5>
                                        <span class="h2 font-weight-bold mb-0 format">{{ revenues|format_monetary }}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-yellow text-white rounded-circle shadow">
                                            <i class="fas fa-dollar-sign"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt--7">

        <!-- Table -->
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row justify-content-center">
                            <!-- Button trigger modal -->
                            <a href="{% url 'order' %}" class="btn btn-primary btn-lg">
                                <i class="fas fa-cart-plus"></i> NOVO PEDIDO
                            </a>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Data</th>
                                <th scope="col">Cliente</th>
                                <th scope="col">Editar|Excluir</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order in orders %}
                                <tr>
                                    <th scope="row">
                                        <span class="mb-0 text-sm">{{ order }}</span>
                                    </th>
                                    <td>{{ order.date }}</td>
                                    <td>{{ order.customer }}</td>
                                    <td>
                                        <a class="btn btn-primary btn-sm" href="{% url 'edit' order.id %}"><i
                                                class="fas fa-edit"></i></a>
                                        <a class="btn btn-danger btn-sm" href="{% url 'delete' order.id %}"><i
                                                class="fas fa-minus"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

{% endblock javascripts %}
