{% extends 'layouts/base.html' %}

{% load omfilters %}

{% block title %} Pedido {% endblock title %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-6 pt-5 pt-md-8"></div>

    <div class="container-fluid mt--7">

        <!-- Table -->
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <h3 class="mb-0">Novo Pedido</h3>
                    </div>
                    <div class="card-body">
                        <form role="form" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        {{form_order.customer.errors}}
                                        <label for="{{ form_order.customer.id_for_label }}">{{ form_order.customer.label }}</label>
                                        {{ form_order.customer|addclass:'form-control' }}
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table align-items-center table-flush" id="items">
                                    <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Produto</th>
                                        <th scope="col">QTD</th>
                                        <th scope="col">Preço</th>
                                        <th scope="col">Total</th>
                                        <th scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{ form_item.product|addclass:'form-control' }}</td>
                                        <td>{{ form_item.quantity|addclass:'form-control' }}</td>
                                        <td>{{ form_item.price|addclass:'form-control' }}</td>
                                        <td>{{ form_item.total|addclass:'form-control' }}</td>
                                        <td>
                                            <button type="button" class="btn btnAdd btn-primary btn-sm"><i
                                                    class="fas fa-plus"></i></button>
                                            <button type="button" class="btn btnRemove btn-danger btn-sm"><i
                                                    class="fas fa-minus"></i></button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">
                                    Cancelar
                                </button>
                                <button type="submit" class="btn btn-primary">Salvar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
    <script>
        $('#items').on('click', '.btnAdd', function () {
            let $row = $(this).closest('tr'),
                $newRow = $row.clone(true);
            $row.after($newRow);
        })

        $("#items").on("click", ".btnRemove", function () {
            $(this).closest('tr').remove();
        });
    </script>
{% endblock javascripts %}
